<mat-drawer-container class="container">
    <mat-drawer #drawer mode="push" class="drawer">
      <!-- <mat-toolbar color="primary" class="menu-header">
        <mat-icon>menu</mat-icon>
        <span class="menu-title">Menu</span>
      </mat-toolbar> -->
  
      <mat-nav-list>
  
        <!-- Seção: Administração -->
        <div class="menu-section">
          <div class="section-header">Gerência</div>
          <mat-list-item routerLink="/admin/funcionarios">
            <mat-icon matListIcon>supervisor_account</mat-icon>
            <span style="color: #bbb;">Funcionários</span>
          </mat-list-item>
        </div>
  
        <!-- Seção: Localização -->
        <div class="menu-section">
          <div class="section-header">Localização</div>
          <mat-list-item routerLink="/admin/estados">
            <mat-icon matListIcon>flag</mat-icon>
            <span style="color: #bbb;">Estados</span>
          </mat-list-item>
          <mat-list-item routerLink="/admin/municipios">
            <mat-icon matListIcon>location_city</mat-icon>
            <span style="color: #bbb;">Municípios</span>
          </mat-list-item>
        </div>
  
        <!-- Seção: Cadastros -->
        <div class="menu-section">
          <div class="section-header">Cadastros</div>
          <mat-list-item routerLink="/admin/fornecedores">
            <mat-icon matListIcon>business</mat-icon>
            <span style="color: #bbb;">Fornecedores</span>
          </mat-list-item>
          <mat-list-item routerLink="/admin/placasdevideo">
            <mat-icon matListIcon>memory</mat-icon>
            <span style="color: #bbb;">Placas de Vídeo</span>
          </mat-list-item>
          <mat-list-item routerLink="/admin/lotes">
            <mat-icon matListIcon>inventory_2</mat-icon>
            <span style="color: #bbb;">Lotes</span>
          </mat-list-item>
        </div>
  
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content class="content-area">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  