<ng-container *ngIf="formGroup">
  <mat-toolbar color="primary" class="toolbar-title">Cadastro de Lotes</mat-toolbar>
  <div class="form-container">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formGroup">

          <!-- Código -->
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Código</mat-label>
            <input matInput type="text" formControlName="codigo">
            <mat-error *ngIf="formGroup.get('codigo')?.invalid && formGroup.get('codigo')?.touched">
              {{ getErrorMessage('codigo', formGroup.get('codigo')?.errors) }}
              @if (formGroup.get('codigo')?.hasError('apiError')) {
                <span>{{ formGroup.get('codigo')?.getError('apiError') }}</span>
              }
            </mat-error>
          </mat-form-field>

          <!-- Estoque -->
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Estoque</mat-label>
            <input matInput type="number" formControlName="estoque">
            <mat-error *ngIf="formGroup.get('estoque')?.invalid && formGroup.get('estoque')?.touched">
              {{ getErrorMessage('estoque', formGroup.get('estoque')?.errors) }}
              @if (formGroup.get('estoque')?.hasError('apiError')) {
                <span>{{ formGroup.get('estoque')?.getError('apiError') }}</span>
              }
            </mat-error>
          </mat-form-field>

          <!-- Data de Fabricação -->
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Data de Fabricação</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataFabricacao" placeholder="Escolha uma data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formGroup.get('dataFabricacao')?.invalid && formGroup.get('dataFabricacao')?.touched">
              {{ getErrorMessage('dataFabricacao', formGroup.get('dataFabricacao')?.errors) }}
              @if (formGroup.get('dataFabricacao')?.hasError('apiError')) {
                <span>{{ formGroup.get('dataFabricacao')?.getError('apiError') }}</span>
              }
            </mat-error>
          </mat-form-field>

          <!-- Placa de Vídeo -->
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Placa de Vídeo</mat-label>
            <mat-select formControlName="placaDeVideo">
              <mat-option *ngFor="let placa of placadevideo" [value]="placa.id">
                {{ placa.modelo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('placaDeVideo')?.invalid && formGroup.get('placaDeVideo')?.touched">
              {{ getErrorMessage('placaDeVideo', formGroup.get('placaDeVideo')?.errors) }}
              @if (formGroup.get('placaDeVideo')?.hasError('apiError')) {
                <span>{{ formGroup.get('placaDeVideo')?.getError('apiError') }}</span>
              }
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formGroup.invalid">
          Salvar
        </button>
        <button *ngIf="formGroup.get('id')?.value" mat-raised-button color="warn" (click)="excluir()" [disabled]="formGroup.invalid">
          Excluir
        </button>
        <button mat-raised-button (click)="cancelar()">
          Cancelar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
