.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #1E1E1E; /* Fundo secundário escuro */
  border-bottom: 0px;
  transform: translateY( 0px);
}

.logo {
  height: 155px;
}

.logo-nome {
  height: 250px;
  transform: translateX(-45px);
}

.cyber-spacer {
  flex: 1 1 auto;
}

.auth-btn {
  margin-left: 0.5rem;
  color: #FFFFFF;
  font-weight: 500;
}

/* Wrapper centralizador da busca */
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 40px;
  width: 100%;
}

/* Barra de busca transparente com destaque sutil */
.search-bar {
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  z-index: 1;
  width: 600px;
  color:white;
}

.search-bar::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 22px;
  width: 100%;
  background-color: #1E1E1E; /* linha de base escura */
  border-radius: 0 0 4px 4px;
  z-index: -1;
}

.buscar{
  color:#B3B3B3;
}

/* Input customizado com visual dark elegante */
.search-bar .mat-input-element {
  background-color: #1E1E1E !important;
  color: #FFFFFF !important;
  border-radius: 0 0 10px 10px;
  padding: 6px 12px;
  caret-color: #FFD700;
}

/* Remove as bordas padrões do Angular Material */
.search-bar.mat-form-field-appearance-outline .mat-form-field-outline,
.search-bar.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: transparent;
  display: none !important;
}

/* Ícone do botão de busca */
.search-bar button {
  color: #C4A000 !important;
}

/* Background estilizado do input */
.search-background {
  color:white;
  background-color: #2A2A2A;
  width: 100%;
  max-width: 600px;
  border: none;
  border-radius: 10px 10px 30px 30px;
}

/* Remove padding lateral padrão */
.search-bar .mat-form-field-wrapper {
  padding: 0 !important;
}
