<mat-toolbar color="primary" class="toolbar-title">Cadastro de Placa de Vídeo</mat-toolbar>
<div class="form-container">
  <mat-card *ngIf="formGroup">
    <mat-card-content class="form-content">
      <form [formGroup]="formGroup" class="form">

        <mat-stepper formArrayName="formArray" linear>
          <mat-step formGroupName="0" [stepControl]="formArray.get([0])!">
            <ng-template matStepLabel class="stepper">Informações Gerais</ng-template>

            <div class="form-grid">
              <div class="modelo-placa">
                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Modelo</mat-label>
                  <input class="input" matInput type="text" formControlName="modelo" #inputModelo />
                  <mat-error *ngIf="formArray.at(0).get('modelo')?.invalid && formArray.at(0).get('modelo')?.touched">
                    {{ getErrorMessage('modelo', formArray.at(0).get('modelo')?.errors) }}
                  </mat-error>
                </mat-form-field>
              </div>


              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Fornecedor</mat-label>
                <mat-select formControlName="idFornecedor" (selectionChange)="atualizarIdFornecedor($event.value)"
                  #inputFornecedor>
                  <mat-option *ngFor="let forne of fornecedor" [value]="forne.id">
                    {{ forne.nome }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formArray.at(0).get('idFornecedor')?.invalid && formArray.at(0).get('idFornecedor')?.touched">
                  O fornecedor é obrigatório.
                </mat-error>
                <span class="api-error" *ngIf="formArray.at(0).get('idFornecedor')?.hasError('apiError')">
                  {{ formArray.at(0).get('idFornecedor')?.getError('apiError') }}
                </span>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Categoria</mat-label>
                <input matInput type="text" formControlName="categoria" />
                <mat-error
                  *ngIf="formArray.at(0).get('categoria')?.invalid && formArray.at(0).get('categoria')?.touched">
                  {{ getErrorMessage('categoria', formArray.at(0).get('categoria')?.errors) }}
                </mat-error>
                <span class="api-error" *ngIf="formArray.at(0).get('categoria')?.hasError('apiError')">
                  {{ formArray.at(0).get('categoria')?.getError('apiError') }}
                </span>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Preço</mat-label>
                <input matInput type="text" [value]="precoFormatado" (input)="formatarPreco($event)"
                  (blur)="converterPrecoParaEnvio()" #inputPreco />
                <mat-error *ngIf="formArray.at(0).get('preco')?.invalid && formArray.at(0).get('preco')?.touched">
                  {{ getErrorMessage('preco', formArray.at(0).get('preco')?.errors) }}
                </mat-error>
                <span class="api-error" *ngIf="formArray.at(0).get('preco')?.hasError('apiError')">
                  {{ formArray.at(0).get('preco')?.getError('apiError') }}
                </span>
              </mat-form-field>


              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Resolução</mat-label>
                <input matInput type="text" formControlName="resolucao" />
                <mat-error
                  *ngIf="formArray.at(0).get('resolucao')?.invalid && formArray.at(0).get('resolucao')?.touched">
                  {{ getErrorMessage('resolucao', formArray.at(0).get('resolucao')?.errors) }}
                </mat-error>
                <span class="api-error" *ngIf="formArray.at(0).get('resolucao')?.hasError('apiError')">
                  {{ formArray.at(0).get('resolucao')?.getError('apiError') }}
                </span>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Quantidade de Fans</mat-label>
                <mat-select formControlName="idFan">
                  <mat-option *ngFor="let fan of [1, 2, 3]" [value]="fan">{{ fan }}</mat-option>
                </mat-select>
                <mat-error *ngIf="formArray.at(0).get('idFan')?.invalid && formArray.at(0).get('idFan')?.touched">
                  {{ getErrorMessage('idFan', formArray.at(0).get('idFan')?.errors) }}
                </mat-error>
                <span class="api-error" *ngIf="formArray.at(0).get('idFan')?.hasError('apiError')">
                  {{ formArray.at(0).get('idFan')?.getError('apiError') }}
                </span>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Barramento</mat-label>
                <mat-select formControlName="barramento">
                  <mat-option *ngFor="let op of opcoesBarramento" [value]="op">
                    {{ op }}
                  </mat-option>
                </mat-select>

                <mat-error
                  *ngIf="formArray.at(0).get('barramento')?.invalid && formArray.at(0).get('barramento')?.touched">
                  {{ getErrorMessage('barramento', formArray.at(0).get('barramento')?.errors) }}
                </mat-error>

                <span class="api-error" *ngIf="formArray.at(0).get('barramento')?.hasError('apiError')">
                  {{ formArray.at(0).get('barramento')?.getError('apiError') }}
                </span>
              </mat-form-field>


              <div class="descricao">
                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Descrição</mat-label>
                  <textarea matInput formControlName="descricao"></textarea>
                  <mat-error
                    *ngIf="formArray.at(0).get('descricao')?.invalid && formArray.at(0).get('descricao')?.touched">
                    {{ getErrorMessage('descricao', formArray.at(0).get('descricao')?.errors) }}
                  </mat-error>
                  <span class="api-error" *ngIf="formArray.at(0).get('descricao')?.hasError('apiError')">
                    {{ formArray.at(0).get('descricao')?.getError('apiError') }}
                  </span>
                </mat-form-field>
              </div>


            </div>

            <div class="botao">
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray.get([1])!">
            <ng-template matStepLabel>Especificações Técnicas</ng-template>
            <div class="form-grid">

              <div class="energia">
                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Energia (W)</mat-label>
                  <input matInput type="number" formControlName="energia">
                  <mat-error *ngIf="formGroup.get('energia')?.invalid && formGroup.get('energia')?.touched">
                    {{ getErrorMessage('energia', formGroup.get('energia')?.errors) }}
                    @if (formGroup.get('energia')?.hasError('apiError')) {
                    <span>{{ formGroup.get('energia')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Clock Base (MHz)</mat-label>
                <input matInput type="number" formControlName="clockBase">
                <mat-error *ngIf="formGroup.get('clockBase')?.invalid && formGroup.get('clockBase')?.touched">
                  {{ getErrorMessage('clockBase', formGroup.get('clockBase')?.errors) }}
                  @if (formGroup.get('clockBase')?.hasError('apiError')) {
                  <span>{{ formGroup.get('clockBase')?.getError('apiError') }}</span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Clock Boost (MHz)</mat-label>
                <input matInput type="number" formControlName="clockBoost">
                <mat-error *ngIf="formGroup.get('clockBoost')?.invalid && formGroup.get('clockBoost')?.touched">
                  {{ getErrorMessage('clockBoost', formGroup.get('clockBoost')?.errors) }}
                  @if (formGroup.get('clockBoost')?.hasError('apiError')) {
                  <span>{{ formGroup.get('clockBoost')?.getError('apiError') }}</span>
                  }
                </mat-error>
              </mat-form-field>


              <h3>Memória</h3>
              <div formGroupName="memoria" class="memoria-row">
                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Tipo de Memória</mat-label>
                  <input matInput type="text" formControlName="tipoMemoria" #inputTipoMemoria>
                  <mat-error
                    *ngIf="formGroup.get('memoria.tipoMemoria')?.invalid && formGroup.get('memoria.tipoMemoria')?.touched">
                    {{ getErrorMessage('tipoMemoria', formGroup.get('memoria.tipoMemoria')?.errors) }}
                    @if (formGroup.get('memoria.tipoMemoria')?.hasError('apiError')) {
                    <span>{{ formGroup.get('memoria.tipoMemoria')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Capacidade (GB)</mat-label>
                  <input matInput type="number" formControlName="capacidade" #inputCapacidade>
                  <mat-error
                    *ngIf="formGroup.get('memoria.capacidade')?.invalid && formGroup.get('memoria.capacidade')?.touched">
                    {{ getErrorMessage('capacidade', formGroup.get('memoria.capacidade')?.errors) }}
                    @if (formGroup.get('memoria.capacidade')?.hasError('apiError')) {
                    <span>{{ formGroup.get('memoria.capacidade')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Largura de Banda (GB/s)</mat-label>
                  <input matInput type="number" formControlName="larguraBanda" #inputLarguraBanda>
                  <mat-error
                    *ngIf="formGroup.get('memoria.larguraBanda')?.invalid && formGroup.get('memoria.larguraBanda')?.touched">
                    {{ getErrorMessage('larguraBanda', formGroup.get('memoria.larguraBanda')?.errors) }}
                    @if (formGroup.get('memoria.larguraBanda')?.hasError('apiError')) {
                    <span>{{ formGroup.get('memoria.larguraBanda')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Velocidade da Memória (MHz)</mat-label>
                  <input matInput type="number" formControlName="velocidadeMemoria">
                  <mat-error
                    *ngIf="formGroup.get('memoria.velocidadeMemoria')?.invalid && formGroup.get('memoria.velocidadeMemoria')?.touched">
                    {{ getErrorMessage('velocidadeMemoria', formGroup.get('memoria.velocidadeMemoria')?.errors) }}
                    @if (formGroup.get('memoria.velocidadeMemoria')?.hasError('apiError')) {
                    <span>{{ formGroup.get('memoria.velocidadeMemoria')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>
              </div>

            </div>

            <div class="suporteRayTracing1">
              <mat-checkbox formControlName="suporteRayTracing">Suporte a Ray Tracing</mat-checkbox>
            </div>

            <div class="botao">
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray.get([2])!">
            <ng-template matStepLabel>Informações Externas</ng-template>
            <h3>Dimensões</h3>
            <div formGroupName="tamanho">
              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Largura (mm)</mat-label>
                <input matInput type="number" formControlName="largura">
                <mat-error
                  *ngIf="formGroup.get('tamanho.largura')?.invalid && formGroup.get('tamanho.largura')?.touched">
                  {{ getErrorMessage('largura', formGroup.get('tamanho.largura')?.errors) }}
                  @if (formGroup.get('tamanho.largura')?.hasError('apiError')) {
                  <span>{{ formGroup.get('tamanho.largura')?.getError('apiError') }}</span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Altura (mm)</mat-label>
                <input matInput type="number" formControlName="altura">
                <mat-error *ngIf="formGroup.get('tamanho.altura')?.invalid && formGroup.get('tamanho.altura')?.touched">
                  {{ getErrorMessage('altura', formGroup.get('tamanho.altura')?.errors) }}
                  @if (formGroup.get('tamanho.altura')?.hasError('apiError')) {
                  <span>{{ formGroup.get('tamanho.altura')?.getError('apiError') }}</span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Comprimento (mm)</mat-label>
                <input matInput type="number" formControlName="comprimento">
                <mat-error
                  *ngIf="formGroup.get('tamanho.comprimento')?.invalid && formGroup.get('tamanho.comprimento')?.touched">
                  {{ getErrorMessage('comprimento', formGroup.get('tamanho.comprimento')?.errors) }}
                  @if (formGroup.get('tamanho.comprimento')?.hasError('apiError')) {
                  <span>{{ formGroup.get('tamanho.comprimento')?.getError('apiError') }}</span>
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <h3>Saídas de Vídeo</h3>
            <div formArrayName="saidas" class="saidas">
              <div *ngFor="let saida of getSaidas().controls; let i = index" [formGroupName]="i">

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Tipo</mat-label>
                  <input matInput type="text" formControlName="tipo">
                  <mat-error *ngIf="saida.get('tipo')?.invalid && saida.get('tipo')?.touched">
                    {{ getErrorMessage('tipo', saida.get('tipo')?.errors) }}
                    @if (saida.get('tipo')?.hasError('apiError')) {
                    <span>{{ saida.get('tipo')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Quantidade</mat-label>
                  <input matInput type="number" formControlName="quantidade">
                  <mat-error *ngIf="saida.get('quantidade')?.invalid && saida.get('quantidade')?.touched">
                    {{ getErrorMessage('quantidade', saida.get('quantidade')?.errors) }}
                    @if (saida.get('quantidade')?.hasError('apiError')) {
                    <span>{{ saida.get('quantidade')?.getError('apiError') }}</span>
                    }
                  </mat-error>
                </mat-form-field>

                <button mat-icon-button color="warn" (click)="removerSaida(i)" *ngIf="getSaidas().length > 1">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>


            <button mat-raised-button color="accent" (click)="adicionarSaida()">Adicionar Saída</button>

            <div class="botao">
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray.get([3])!">
            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Imagens</mat-label>
              <input type="file" multiple (change)="carregarImagemSelecionada($event)" hidden #fileInput>
              <input matInput [value]="fileName" readonly>

              <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>folder_open</mat-icon>
              </button>

              <div class="botao">
                <button mat-button matStepperPrevious type="button">Back</button>
              </div>
            </mat-form-field>

            <div *ngIf="imagePreview" class="container responsiv-grid">
              <div class="preview-container">
                <!-- Card principal -->
                <mat-card class="example-card" appearance="outlined">
                  <img mat-card-image [src]="imagePreview">

                  <div class="card-info">
                    <span>Placa de Video {{inputModelo.value}}, </span>
                    <span>{{ getNomeFornecedor(inputFornecedor.value) }}, </span>
                    <span>{{ inputCapacidade.value }}GB, </span>
                    <span>{{ inputTipoMemoria.value }}, </span>
                    <span>{{ inputLarguraBanda.value }}-bit</span>
                  </div>

                  <span class="valor-desconto">
                    de <del>{{ (+inputPreco.value + 1) | currency:'BRL' }}</del> por:
                  </span>
                  <p class="avista">à vista</p>
                  <mat-card-content class="preco">
                    {{ inputPreco.value | currency:'BRL' }}
                  </mat-card-content>
                  <div class="line"></div>
                  <p class="parcelamento">
                    Em até 10x de
                    <span class="valor-parcela">{{ (+inputPreco.value / 10) | currency:'BRL' }}</span>
                  </p>
                  <p class="parcelamento2">sem juros no cartão</p>
                </mat-card>

                <!-- Imagens do banco (já salvas) -->
                <div *ngIf="imagensBackend.length > 0" class="galeria-horizontal">
                  <mat-card *ngFor="let imagem of imagensBackend; let i = index" class="mini-card">
                    <img [src]="placaService.getImagemUrl(imagem)" class="thumb-img">
                    <button mat-icon-button color="warn" (click)="removerImagem(i, 'back')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card>
                </div>

                <!-- Imagens novas (ainda não salvas) -->
                <div *ngIf="imagePreviewsList.length > 0" class="galeria-horizontal">
                  <mat-card *ngFor="let preview of imagePreviewsList; let i = index" class="mini-card">
                    <img [src]="preview" class="thumb-img">
                    <button mat-icon-button color="warn" (click)="removerImagem(i, 'nova')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card>
                </div>

              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formGroup.invalid">
        Salvar
      </button>
      <button mat-raised-button color="warn" (click)="excluir()" *ngIf="formGroup.get('id')?.value">
        Excluir
      </button>
      <button mat-raised-button (click)="cancelar()">
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>