.toolbar-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 1rem 0;
    color: white;
}

mat-stepper {
    background-color: var(--fundo-secundario);
    padding: 1rem;
    border-radius: 8px;
}

mat-card {
    background-color: var(--fundo-principal);
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

mat-card-content {
    background-color: var(--fundo-principal);
}

mat-form-field {
    background-color: var(--icone-destaque);
    width: 100%;
    margin-bottom: 20px;
}

mat-label {
    color: var(--cartao-container);
}

mat-select {
    background-color: var(--texto-principal);
}

/* Estilo do matStepLabel para aparecer em amarelo */
::ng-deep .mat-step-label {
    color: var(--icone-destaque) !important; /* Amarelo */
}

.form-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button[mat-raised-button] {
    background-color: var(--icone-destaque); /* Amarelo */
    color: var(--texto-principal); /* Preto */
    width: 120px;
    margin-right: 1rem;
}

button[mat-raised-button]:last-child {
    background-color: red;
    margin-right: 0;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .toolbar-title {
        font-size: 1.5rem;
    }

    mat-card {
        width: 100%;
        max-width: 100%;
        margin: 1rem;
    }

    button[mat-raised-button] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-container {
        padding: 1rem;
    }

    mat-form-field {
        width: 100%;
    }
}

mat-checkbox {
    margin-bottom: 20px;
}

h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

mat-error {
    font-size: 0.875rem;
    color: red;
}