.toolbar-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 1rem 0;
    color: white;
}

mat-card {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.form-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button[mat-raised-button] {
    width: 120px;
    margin-right: 1rem;
}

button[mat-raised-button]:last-child {
    margin-right: 0;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .toolbar-title {
        font-size: 1.5rem;
    }

    mat-card {
        width: 100%;
        max-width: 100%;
        margin: 1rem;
    }

    button[mat-raised-button] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-container {
        padding: 1rem;
    }

    mat-form-field {
        width: 100%;
    }
}

mat-checkbox {
    margin-bottom: 20px;
}

h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

mat-error {
    font-size: 0.875rem;
    color: red;
}
