/* Toolbar */
mat-toolbar {
    color: #FFFFFF !important;
    border-bottom: 3px solid #C4A000;
    border-radius: 5px;
  }
  
  .toolbar-title {
    color: #FFFFFF !important;
    flex: 1;
    text-align: center;
  }
  
  .titulo-table {
    color: #FFFFFF !important;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    border-bottom: 0px;
    transform: translateY(0px);
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  /* Botão de adicionar */
  .mais {
    color: white;
    background-color: #C4A000;
  }
  
  /* Campo de pesquisa */
  .pesquisa {
    color: white;
    background-color: #2A2A2A;
    height: 55px;
    border-radius: 8px;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2);
  }
  
  .search-bar {
    color: #B3B3B3;
  }
  
  /* Tabela */
  table.mat-elevation-z8 {
    background-color: #121212;
    color: rgb(0, 0, 0);
  }
  
  .demo-table {
    overflow: hidden;
    transform: translateY(-4px);
  }
  
  .tabela-com-label {
    width: 100%;
  }
  
  .colunas {
    color: #FFFFFF;
  }
  
  /* Headers da tabela */
  th.mat-header-cell {
    background-color: #34344A;
    color: #FFFFFF;
  }
  
  /* Cores das células */
  td.mat-cell {
    color: #FFFFFF;
  }
  
  /* Borda da célula */
  td.mat-cell,
  th.mat-header-cell {
    border-right: 1px solid #34344A;
  }
  
  /* Hover nos itens da tabela */
  .mat-row:hover {
    background-color: #1E1E1E;
  }
  
  /* Estilo de ícones */
  mat-icon {
    color: #C4A000;
  }
  
  /* Botões de ação */
  button.mat-icon-button {
    background-color: #C4A000;
    color: #FFFFFF;
  }
  
  button.mat-icon-button:hover {
    background-color: #FFD700;
  }
  
  /* Input */
  input.mat-input-element {
    color: #B3B3B3;
    background-color: #1E1E1E;
    border-radius: 4px;
    height: 70px;
  }
  
  /* Formulário */
  .mat-form-field {
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #34344A;
  }
  
  /* Paginador */
  mat-paginator {
    background-color: #2A2A2A;
    color: #B3B3B3;
    border-top: 1px solid #34344A;
    border-radius: 5px;
  }
  
  mat-paginator:hover {
    background-color: #5a5959;
  }
  
  .botoes {
    color: white;
  }

  
  