<mat-drawer-container class="container">
  <div class="super">
    <div class="title">
      <h2 class="section-title">Módulos do Sistema</h2>
    </div>
      <div class="modules-grid">
        <mat-card 
          class="module-card" 
          *ngFor="let mod of modules" 
          [routerLink]="mod.link"
          style="cursor: pointer;"
          >
          <mat-icon class="module-icon">{{ mod.icon }}</mat-icon>
          <h3>{{ mod.name }}</h3>
          <p>{{ mod.description }}</p>
          </mat-card>
      </div>
  </div>
</mat-drawer-container>
