/* Main container */
.product-detail-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 24px;
  font-family: "Roboto", sans-serif;
  overflow: unset; /* ou simplesmente remova qualquer overflow se já tiver */
  height: auto;
}

/* Back button */
.back-button {
  width: 48px;
  height: 48px;
  border: 1px solid #333;
  border-radius: 50%;
  margin-bottom: 24px;
  color: white;
}

/* Product content layout */
.product-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-bottom: 48px;
}

@media (min-width: 992px) {
  .product-content {
    grid-template-columns: 1fr 1fr;
  }
}

/* Product gallery */
.product-gallery {
  display: flex;
  flex-direction: row-reverse;
  /* imagem principal à direita, thumbs à esquerda */
  align-items: flex-start;
  gap: 16px;
}

.main-image-card {
  background-color: #0f0f0f;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
  width: 600px;
  height: auto;
}

.main-image {
  display: block;
  /* remove espaços extras (evita inline gaps) */
  width: 100%;
  height: auto;
  object-fit: contain;
  /* REMOVA o aspect-ratio se quer altura dinâmica */
}


.thumbnails-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.thumbnail-button {
  position: relative;
  width: 111px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid transparent;
  padding: 0;
  background: none;
  cursor: pointer;
}

.thumbnail-button.active {
  border-color: #00e676;
}

.thumbnail-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-label {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 0;
}

/* Product info */
.product-info {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .product-title {
    font-size: 37px;
  }
}

mat-divider {
  margin: 16px 0;
  background-color: #333;
}

.brand-info {
  color: #999;
  margin-bottom: 16px;
}

/* Price section */
.price-container {
  margin-bottom: 24px;
}

.price-label {
  color: #009e2a;
  font-size: 14px;
  margin-bottom: 0px;
}

.main-price {
  color: #009e2a;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 16px;
}

.installment-price {
  color: #f44336;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 4px;
}

.line {
  margin-top: 10px;
  height: 2px;
  width: 15%;
  background-color: #f44336;
  margin-bottom: 10px;
}

.line-2 {
  margin: 10px auto;
  height: 2px;
  width: 15%;
  background-color: #f44336;
  margin-bottom: -25px;
}

.main-price, .installment-price {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre ícone e texto */
}

.icon-money{
  font-size: 80px;
  margin-left: -15px;
  margin-right: -20px;
}

 .icon-card {
  font-size: 50px; /* tamanho do ícone */
  color: currentColor; /* para pegar a cor do texto */
}


.installment-info {
  color: #999;
  font-size: 14px;
  margin-bottom: 2px;
}

/* Product description */
.product-description {
  margin-top: 50px;
  max-width: 100%;
  width: 100%;
   grid-column: 1 / -1; /* Para grid */
  flex: 1 1 100%;      /* Para flex */
}

.model-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.tagline {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.description-text {
  color: #ccc;
  line-height: 1.6;
}

/* Specifications */
.specs-card {
  background-color: #0f0f0f;
  color: white;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 32px;
}

.specs-card mat-card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.specs-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .specs-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.specs-section {
  margin-bottom: 24px;
}

.specs-section h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.specs-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  max-width: 400px;
}

.specs-label {
  color: #999;
}

.specs-value {
  font-weight: 500;
}

/* Loading */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.loading-container p {
  margin-top: 16px;
  color: #999;
}


/* Espaçamento entre o ícone e o texto */
.buy-button mat-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  margin-right: 0.2rem;
}

.price-buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* responsivo em telas menores */
}

.price-container {
  flex: 1;
  min-width: 200px;
}

.buy-actions {
  margin-top: 60px;
  align-items: flex-end;
  gap: 16px;
  min-width: 300px;
}

.buy-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}

.buy-button-container {
  display: flex;
  align-items: center;
  gap: 16px;
}



.favorite-button {
  margin-left: -10px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  color: #ffffff;
  /* cor do ícone */
  border: 1px solid transparent;
  box-shadow: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease,
    background-color 0.3s ease;
}


.favorite-button mat-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  transition: color 0.3s ease;
}

.favorite-button:hover {
  transform: scale(1.5) translateY(-4px);
}

/* Pode ser colocado no arquivo .scss ou .css do componente */
.buy-button {
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-transform: uppercase;
  min-width: 64px;

  /* Substituindo as variáveis por cores reais */
  color: black;
  background-color: #009e2a !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  width: 100%;
  font-size: 2.0rem;
  display: flex;
  height: 90px;
  line-height: 0.6;
  text-align: right;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 300px;
}

.buy-button:hover {
  background-color: #006e1d !important;
  /* verde escuro */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.disponibilidade-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* para alinhar verticalmente */
  font-size: 10px;
  /* você pode adicionar padding/margin aqui se quiser */
}

.disponivel {
  color: #009e2a;
}

.indisponivel {
  color: #f44336;
  /* Se quiser manter alinhado, pode colocar flex: 1 ou ajustar aqui */
}

/* Espaçamento entre o ícone e o texto */
.buy-button-esgotado mat-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  margin-right: 0.2rem;
}


.buy-button-esgotado {
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-transform: uppercase;
  min-width: 64px;

  /* Substituindo as variáveis por cores reais */
  color: black;
  background-color: #474747 !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  width: 100%;
  font-size: 2.0rem;
  display: flex;
  height: 90px;
  line-height: 0.6;
  text-align: right;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 300px;
}

/* Specifications */
.specs-card {
  background-color: #0f0f0f !important;
  color: white !important;
  border-radius: 12px !important;
  margin-bottom: 32px;
}

/* Estilo para o título dentro do expansion panel */
.specs-title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 0;
}

/* Estilo para o cabeçalho do expansion panel */
::ng-deep .mat-expansion-panel-header {
  padding: 16px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 16px !important;
}

/* Cores para o expansion panel */
::ng-deep .mat-expansion-panel {
  background-color: #0f0f0f !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

.specs-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .specs-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.specs-section {
  margin-bottom: 24px;
}

.specs-section h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.specs-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  max-width: 400px;
}

.specs-label {
  color: #999;
}

.specs-value {
  font-weight: 500;
}

.container.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 10rem;
}

.example-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    .action-icons {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .action-icons {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    button {
      background: none;
      border: none;
      box-shadow: none;

      mat-icon {
        font-size: 24px;
        color: var(--icone-destaque);
        transition: transform 0.3s ease, color 0.3s ease;
      }

      &:hover mat-icon {
        transform: scale(1.2);
        color: white;
      }
    }
  }
}

.example-card {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--fundo-principal);
  color: var(--texto-primario);
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  margin: 20px;
  justify-content: center;
  padding-top: 0 !important;
}

.example-card:hover {
  transform: scale(1.1) translateY(-4px);
  /* aumenta 10% e sobe 4px */
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.2);
  border: 1px solid var(--icone-destaque);
  /* Azul Material */
  border: 1px solid var(--borda-destaque);
}

.card-info {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.image {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}

.avista {
  color: #00a202;
  font-size: 13px;
}

.preco {
  color: #00a202;
  font-weight: bolder;
  font-size: 24px;
}

.valor-parcela {
  color: var(--icone-destaque);
}

.parcelamento {
  font-size: 13px;
  margin-bottom: 0px;
}

.parcelamento2 {
  font-size: 13px;
  margin-top: 0px;
}

.line {
  margin-top: 10px;
  height: 2px;
  width: 30%;
  background-color: var(--icone-destaque);
}

.valor-desconto {
  font-size: 13px;
  color: #e90313;
}

.anuncio-container {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  height: 60vh;
  /* Altura total da tela */
}

.anuncio {
  max-width: 100%;
  width: 90%;
  height: auto;

  -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: cover;
  mask-size: cover;
}

.titulo-ofertas {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--amarelo-destaque);
  margin: 1rem 0 -10rem 10rem;
  overflow:-moz-hidden-unscrollable;
  /* "cola" no grid e respeita padding lateral */
}



.scroll-horizontal {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex-grow: 1;
  justify-content: flex-start;
}

.scroll-horizontal::-webkit-scrollbar {
  height: 6px;
}

.scroll-horizontal::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

.scroll-horizontal mat-card {
  min-width: 250px;
  scroll-snap-align: start;
}

.scroll-wrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 5rem;
  background-color: transparent !important;
  margin-bottom: 0;
}

::ng-deep .scroll-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--amarelo-destaque);
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

::ng-deep .scroll-button mat-icon {
  font-size: 30px;
}

::ng-deep .scroll-button:hover {
  transform: scale(2.0);
  cursor: pointer;
}

.juntar{
  margin-bottom: -130px;;
}


