

.container.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
  }
  
  .example-card {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--fundo-principal);
    color: var(--texto-primario);
    width: 100%;
    max-width: 320px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    margin: 20px;
  }
  
  .example-card:hover {
    transform: scale(1.1) translateY(-4px); /* aumenta 10% e sobe 4px */
    box-shadow: 0 4px 20px rgba(255, 215, 0, 0.2);
    border: 1px solid var(--icone-destaque); /* Azul Material */
    border: 1px solid var(--borda-destaque);
  }

  .card-info{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 0;
  }


  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
   ;/* ajuste conforme o tamanho desejado */
    overflow: hidden;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .image{
    height: 290px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
  }

  .avista{
    color: #00a202;
    font-size: 13px;
  }

  .preco{
    color: #00a202;
    font-weight: bolder;
    font-size: 24px;
  }

  .valor-parcela{
    color: var(--icone-destaque);
  }

  .parcelamento{
    font-size: 13px;
    margin-bottom: 0px;
  }
  .parcelamento2{
    font-size: 13px;
    margin-top: 0px;
  }

  .line{
    margin-top: 10px;
    height: 2px;
    width: 30%;
    background-color: var(--icone-destaque);
  }

  .valor-desconto{
    font-size: 13px;
    color: #e90313;
  }
 
  