<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Controle de Fornecedores</span>
    <button mat-fab class="mais" color="accent" routerLink="/admin/fornecedores/new">
      <mat-icon class="mais">add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Campo de pesquisa -->
<mat-form-field appearance="outline" style="margin: 16px; width: 300px;" class="pesquisa">
  <mat-label class="search-bar">Pesquisar</mat-label>
  <input matInput (keyup)="filtrar($event)" class="input">
  <button mat-icon-button matSuffix disabled>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<div class="tabela-container" style="position: relative;">

  <mat-toolbar color="primary" class="titulo-table">
    <div class="flex-container">
      <span class="toolbar-title">Lista de Fornecedores</span>
    </div>
  </mat-toolbar>

  <div class="overlay" *ngIf="fornecedorSelecionado" (click)="fornecedorSelecionado = null"></div>

  <div [class.bloqueado]="fornecedorSelecionado">
    <table mat-table [dataSource]="fornecedoresFiltrados" class="mat-elevation-z8 demo-table tabela-com-label">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="header-table">ID</th>
        <td mat-cell *matCellDef="let element" class="colunas">{{ element.id }}</td>
      </ng-container>

      <!-- nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="header-table">Nome</th>
        <td mat-cell *matCellDef="let element" class="colunas">{{ element.nome }}</td>
      </ng-container>

      <!-- cnpj Column -->
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef class="header-table">CNPJ</th>
        <td mat-cell *matCellDef="let element" class="colunas">{{ formatarCnpj(element.cnpj) }}</td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="header-table">Email</th>
        <td mat-cell *matCellDef="let element" class="colunas">{{ element.email }}</td>
      </ng-container>

      <!-- acao Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef class="header-table">Ação</th>
        <td mat-cell *matCellDef="let element" class="colunas acao-buttons">
          <button mat-icon-button color="primary" routerLink="/admin/fornecedores/edit/{{ element.id }}" class="botoes">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="excluir(element.id)" class="botoes">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent" class="botoes" (click)="verDetalhes(element.id)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>

    </table>
  </div>

  <mat-card *ngIf="fornecedorSelecionado" class="detalhes-card"
    style="position: fixed; top: 5%; left: 260px; right: 5%; z-index: 1000; margin: auto;">
    <mat-card-header>
      <mat-card-title>Detalhes do Fornecedor: {{ fornecedorSelecionado.nome }}</mat-card-title>
      <button mat-icon-button (click)="fecharDetalhes()" style="margin-left: auto;">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content class="card-fornecedor">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 16px;">

        <div class="card-section">
          <h4>Informações Principais</h4>
          <p><strong>Nome:</strong> {{ fornecedorSelecionado.nome }}</p>
          <p><strong>CNPJ:</strong> {{ fornecedorSelecionado.cnpj }}</p>
          <p><strong>Email:</strong> {{ fornecedorSelecionado.email }}</p>
        </div>

        <div class="card-section"
          *ngIf="fornecedorSelecionado && fornecedorSelecionado.telefones && fornecedorSelecionado.telefones.length > 0">
          <h4>Telefones</h4>
          <ul>
            <li *ngFor="let tel of fornecedorSelecionado.telefones">
              ({{ tel.codigoArea }}) {{ tel.numero }}
            </li>
          </ul>
        </div>

      </div>
    </mat-card-content>
  </mat-card>


</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" [pageSize]="pageSize" [length]="totalRecords" [pageIndex]="page"
  (page)="paginar($event)">
</mat-paginator>