::ng-deep .success-snackbar {
    background-color: #4caf50 !important;
    color: rgb(red, green, blue) !important;
  }
  
  ::ng-deep .error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
  }

  body{
    color: #121212;
  }
  