<mat-toolbar color="primary" class="toolbar-title">
  <span>Formulário de Cliente</span>
</mat-toolbar>

<div class="form-container">
  <mat-card>
    <form [formGroup]="formGroup" (ngSubmit)="salvar()">
      <h3>Informações Gerais</h3>
      <div class="form-grid">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Informe o nome" />
          <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
            {{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-error *ngIf="formGroup.get('dataNascimento')?.invalid && formGroup.get('dataNascimento')?.touched">
            {{ getErrorMessage('dataNascimento', formGroup.get('dataNascimento')?.errors) }}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="section">
        <h3>Endereços</h3>
        <div formArrayName="enderecos">
          <div *ngFor="let endereco of enderecos.controls; let i = index" [formGroupName]="i" class="address-card">
            <mat-card>
              <div class="form-grid">
                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Rua</mat-label>
                  <input matInput formControlName="rua" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Número</mat-label>
                  <input matInput formControlName="numero" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Complemento</mat-label>
                  <input matInput formControlName="complemento" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Bairro</mat-label>
                  <input matInput formControlName="bairro" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Cidade</mat-label>
                  <input matInput formControlName="cidade" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                  <mat-label>Estado</mat-label>
                  <input matInput formControlName="estado" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="small-width-input">
                  <mat-label>CEP</mat-label>
                  <input matInput formControlName="cep" />
                </mat-form-field>
              </div>

              <button mat-icon-button color="warn" class="add" type="button" (click)="removerEndereco(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </div>
        <button mat-button color="primary" class="add" type="button" (click)="adicionarEndereco()">
          <mat-icon>add</mat-icon> Adicionar Endereço
        </button>
      </div>

      <div class="section">
        <h3>Telefones</h3>
        <div formArrayName="telefones">
          <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i" class="telefone-card">
            <mat-card>
              <div class="form-grid">
                <mat-form-field appearance="fill" class="cod-width-input">
                  <mat-label>DDD</mat-label>
                  <input matInput formControlName="codigoArea" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="tel-width-input">
                  <mat-label>Número</mat-label>
                  <input matInput formControlName="numero" />
                </mat-form-field>

              </div>

              <button mat-icon-button color="warn" class="add" type="button" (click)="removerTelefone(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </div>
        <button mat-button color="primary" type="button" class="add" (click)="adicionarTelefone()">
          <mat-icon>add</mat-icon> Adicionar Telefone
        </button>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="warn" type="button" (click)="excluir()" *ngIf="formGroup.get('id')?.value">
          Excluir
        </button>
        <button mat-raised-button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>