/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
  }
  
  ::ng-deep .error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
  }

  .content-area {
    padding: 0 !important;
  }

  mat-toolbar {
    --mat-toolbar-container-background-color: #121212 !important;
    --mat-toolbar-container-text-color: w;
    border-bottom: 3px solid #C4A000;
  }
  
  
  mat-drawer-content {
    background-color: #121212!important;
  }

  mat-paginator, 
  mat-paginator * {
    color: white !important;
  }

  .mat-paginator-navigation-previous,
  .mat-paginator-navigation-next,
  .mat-paginator-navigation-first,
  .mat-paginator-navigation-last {
    color: white !important;
    fill: white !important; /* Para ícones SVG */
  }

  .mat-icon-button.mat-paginator-navigation-button {
    color: white !important;
  }


 /*
.content-area {
    padding: 0 !important;
    background-color: rgb(37, 36, 36) !important;
  }
  

  mat-drawer-content {
    background-color: rgb(37, 36, 36) !important;
  }
  
  .mat-drawer-container {
    background-color: rgb(37, 36, 36)!important;
  }
  
  body, html {
    background-color: rgb(37, 36, 36) !important;
  }
  */