/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
  }
  
  ::ng-deep .error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
  }

  .content-area {
    padding: 24px !important;
  }


  :root {
    --fundo-principal: #121212;
    --fundo-secundario: #1E1E1E;
    --cartao-container: #2A2A2A;
    --texto-primario: #FFFFFF;
    --texto-secundario: #B3B3B3;
    --icone-destaque: #C4A000;
    --hover-acao: #5a5959;
    --erro-alerta: #FF4C4C;
    --sucesso: #4CAF50;
    --acao-primaria: #FFB300;
    --aviso-atencao: #D85D3A;
    --borda-sombra: #34344A;
    --input-container: #5a5959;
    --box-shadow: rgba(255, 215, 0, 0.2);
    --hover-botao: #b19e4a;
  }
  

  mat-toolbar {
    --mat-toolbar-container-background-color: #2A2A2A  !important;
    --mat-toolbar-container-text-color: w;
    border-bottom: 3px solid #C4A000;
    transform: translateY(-4px);
    box-shadow: 0 4px 20px var(--box-shadow);
  }
  
  
  mat-drawer-content {
    background-color: #121212!important;
  }

  mat-paginator, 
  mat-paginator * {
    color: #FFFF !important;
  }


  .mat-paginator-navigation-previous,
  .mat-paginator-navigation-next,
  .mat-paginator-navigation-first,
  .mat-paginator-navigation-last {
    color: white !important;
    fill: white !important; /* Para ícones SVG */
  }

  .mat-icon-button.mat-paginator-navigation-button {
    color: white !important;
  }

 /*
.content-area {
    padding: 0 !important;
    background-color: rgb(37, 36, 36) !important;
  }
  

  mat-drawer-content {
    background-color: rgb(37, 36, 36) !important;
  }
  
  .mat-drawer-container {
    background-color: rgb(37, 36, 36)!important;
  }
  
  body, html {
    background-color: rgb(37, 36, 36) !important;
  }
  */