<mat-drawer-container class="container">
    <mat-drawer #drawer mode="over" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <!-- <mat-divider></mat-divider> -->
            <mat-toolbar color="primary" style="height: 40px;">
                <span style="font-size: 14px;">Controle</span>
            </mat-toolbar>
            <mat-list-item routerLink="/admin/lotes">Controle de Lotes</mat-list-item>
            <mat-list-item routerLink="/admin/estados">Controle de Estados</mat-list-item>
            <mat-list-item routerLink="/admin/municipios">Controle de Municípios</mat-list-item>
            <mat-list-item routerLink="/admin/fornecedores">Controle de Fornecedores</mat-list-item>
            <mat-list-item routerLink="/admin/placasdevideo">Controle de Placas de Vídeo</mat-list-item>
            <mat-list-item routerLink="/admin/funcionarios">Controle de Funcionários</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet>

        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>