<mat-drawer-container class="container">
    <mat-drawer #drawer mode="over" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-divider></mat-divider>
            <mat-toolbar color="primary" style="height: 40px;">
                <span style="font-size: 14px;">Controle</span>
            </mat-toolbar>
            <mat-list-item routerLink="/admin/lotes">Controle de Lotes</mat-list-item>
            <mat-list-item routerLink="/admin/estados">Controle de Estados</mat-list-item>
            <mat-list-item routerLink="/admin/municipios">Controle de Municípios</mat-list-item>
            <mat-list-item routerLink="/admin/fornecedores">Controle de Fornecedores</mat-list-item>
            <mat-list-item routerLink="/admin/placasdevideo">Controle de Placas de Vídeo</mat-list-item>
            <mat-list-item routerLink="/admin/funcionarios">Controle de Funcionários</mat-list-item>

            <mat-divider></mat-divider>
            <mat-toolbar color="accent" style="height: 40px;">
                <span style="font-size: 14px;">Novo Cadastro</span>
            </mat-toolbar>
            <mat-list-item routerLink="/admin/lotes/new">Novo Lote</mat-list-item>
            <mat-list-item routerLink="/admin/estados/new">Novo Estado</mat-list-item>
            <mat-list-item routerLink="/admin/municipios/new">Novo Município</mat-list-item>
            <mat-list-item routerLink="/admin/fornecedores/new">Novo Fornecedor</mat-list-item>
            <mat-list-item routerLink="/admin/usuarios-funcionario/new">Novo Funcionário</mat-list-item>
            <mat-list-item routerLink="/admin/placasdevideo/new">Nova Placa de Vídeo</mat-list-item>
            <mat-list-item routerLink= "/admin/usuarios-funcionario/new">Novo Usuário Funcionário</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet>

        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>